@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: roca;
  src: url("../assets/fonts/Roca\ Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --type-and-dark-bg: #181532;
  /* --background: rgb(255, 237, 239); */
  --background: #fdfff8;
  --featured-gradient-01: #deb9ee;
  --project-preview-bg: #11091b;
  --links: #ed5cbd;
  --footer: #ffdee1;
  --button-gradient-01: #b54bf2;
  --button-gradient-02: #f16cfd;
  --button-gradient-03: #fb6c83;
  --hover: #2b1744;
  --featured-gradient-04: #f5ca7e;
  --white: white;
  --black: black;
  --featured-gradient-02: #f7c5ad;
  --featured-gradient-03: #f6c69e;
  --featured-gradient-05: #f3cf4f;
}

::-webkit-scrollbar {
  display: none;
}
